@import '../../styles/variables.scss';

@font-face {
  font-family: BMHANNA;
  src: url(./BMHANNA_11yrs_ttf.ttf);
}

.container {
  @include flex(center, center);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1000;
  background-color: white;
  .innerContainer {
    max-width: 448px;
    padding: 48px 40px;
    border: 1px solid rgb(236, 238, 242);
    border-radius: 5px;
    margin-top: 100px;
  }
  .innestContainer {
    @include flex(center, center);
    flex-direction: column;
    width: 100%;
    .logo {
      width: 300px;
    }
    .pageTitle {
      font-weight: 530;
      font-size: 28px;
      line-height: 48px;
    }
    .description {
      margin-top: 8px;
      margin-bottom: 30px;
      color: rgb(142, 146, 159);
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
    .userInfoInput {
      width: 100%;
      margin-bottom: 12px;
      padding: 12px;
      border: 1px solid rgb(215, 219, 230);
      border-radius: 5px;
      background: rgb(255, 255, 255);
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      outline: none;
      &::-webkit-input-placeholder {
        color: rgb(200, 200, 200);
      }
      &:focus::-webkit-input-placeholder {
        color: transparent;
      }
    }
    .errorMsg {
      width: 100%;
      padding: 12px;
      margin-bottom: 16px;
      color: rgb(244, 84, 82);
      background-color: rgba(244, 0, 0, 0.1);
      font-size: 12px;
    }
    .innerNav {
      @include flex(space-between, center);
      width: 100%;
      margin-top: 4px;
      margin-bottom: 32px;
      .saveIdInput {
        @include flex(center, center);
        .saveIdBox {
          position: relative;
          top: 3px;
          width: 24px;
          height: 24px;
          border-radius: 2px;
          background: rgb(255, 255, 255);
          accent-color: #24a5a1;
          cursor: pointer;
        }
        p {
          padding-left: 6px;
          color: rgb(51, 51, 51);
          font-size: 14px;
          cursor: pointer;
        }
      }
      .findIdPassword {
        @include flex(space-between, center);
        :not(:last-child) {
          margin-right: 8px;
          height: 100%;
        }
        .findInfo,
        .signUp {
          color: rgb(142, 146, 159);
          font-size: 12px;
          font-weight: 700;
          letter-spacing: normal;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
    button {
      width: 100%;
      height: 56px;
      padding: 0px 16px;
      color: rgb(255, 255, 255);
      background: rgb(44, 193, 188);
      border: 0px;
      border-radius: 5px;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -0.5px;
      cursor: pointer;
      &:active {
        transform: scale(0.99);
      }
      &:disabled {
        opacity: 0.5;
      }
    }
    .teamName {
      margin-top: 40px;
      color: rgb(142, 146, 159);
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
    }
  }
}
