@import '../../../../../styles/variables.scss';

.singleReview {
  padding: 24px 4px;
  flex-direction: column;
  @include flex(center, null);
}
.reviewer {
  @include flex(space-between, null);
  .name {
    font-size: 15px;
    font-weight: 500;
  }
  .time {
    font-size: 13px;
    margin-left: 8px;
    color: rgb(187, 187, 187);
  }
  .editMark {
    font-size: 15px;
    cursor: pointer;
  }
  .xMark {
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
  }
}
.iconContainer {
  @include flex(space-between, center);
}
.reviewContent {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
  white-space: pre-wrap;
}
.reviewAnswer {
  margin: 15px 0px 0px;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 4px;
}
.answerTime {
  padding: 16px 16px 8px;
  @include flex(flex-start, center);
  .answerDone {
    @include flex(center, center);
    width: 60px;
    height: 20px;
    background: rgb(102, 102, 102);
    border-radius: 4px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 500;
  }
  .time {
    font-size: 13px;
    margin-left: 8px;
    color: rgb(187, 187, 187);
  }
}
.answerContent {
  padding: 0px 16px 16px;
  font-size: 14px;
  line-height: 20px;
  white-space: pre-wrap;
}
