.productContainer {
  width: 200px;
  margin-left: 20px;
  margin-bottom: 24px;
  &:nth-of-type(5n + 1) {
    margin-left: 0px;
  }
  .linkStyle {
    text-decoration: none;
    color: black;
  }

  .imageContainer {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 200px;
    }
  }
  .productDescription {
    margin-top: 8px;
    text-decoration: none;

    .name {
      margin-bottom: 4px;
      font-size: 14px;
      font-weight: 400;
    }
    .weight {
      font-size: 12px;
      line-height: 18px;
      color: rgb(136, 136, 136);
    }
    .cost {
      margin-top: 4px;
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
      color: rgb(51, 51, 51);
    }
  }
}
