@import '../../../styles/variables.scss';
@import '../../../styles/common.scss';
@import '../../../styles/reset.scss';

.dropdown {
  @include flex(flex-start, center);
  border: 1px solid rgb(51, 51, 51);
  box-shadow: #0000001a 0px 4px 12px 0px;
  z-index: 1;
  position: absolute;
  left: -10px;
  top: 126px;
  & out {
    top: -273px;
    z-index: -10;
  }

  .dropdownMainWrap {
    @include flex(flex-start, '');
    flex-direction: row;
    min-width: 128px;
    width: 128px;
    height: 100%;
    min-height: 396px;
    color: rgba(255, 255, 255, 0.7);
    background: rgb(89, 80, 72);

    .dropdownFirstUl {
      width: 100%;
      height: 100%;
      font-weight: 500;
      font-size: 16px;

      li {
        @include flex(center, center);
        width: 100%;
        height: 56px;
        max-height: 56px;
        padding: 0px 24px;
        cursor: pointer;
        border-bottom: 1px solid rgba(34, 33, 33, 0.25);
        &:hover {
          background-color: white;
          color: #000;
          text-shadow: none;
          span {
            position: relative;
            z-index: 1;
            &:before {
              display: block;
              position: absolute;
              content: ' ';
              background: rgb(42, 193, 188);
              width: calc(100% + 4px);
              height: 10px;
              opacity: 0.4;
              left: -2px;
              bottom: -1px;
              z-index: -1;
            }
          }
        }
      }
    }
  }
  .dropdownSecondWrap {
    @include flex(flex-start, '');
    flex-direction: row;
    min-width: 128px;
    width: 128px;
    height: auto;
    min-height: 396px;
    background: rgb(255, 255, 255);

    .dropdownSecondUl {
      width: 100%;
      height: 100%;
      font-size: 14px;
      height: 396px;
      border-right: 1px solid rgb(238, 238, 238);
      li {
        @include flex(center, center);
        width: 128.5px;
        height: 55px;
        max-height: 55px;
        padding: 0px 24px;
        color: rgb(51, 51, 51);
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
        &:hover {
          background: rgba(246, 246, 246, 0.54);
          border-top: 1px solid rgb(221, 221, 221);
          border-bottom: 1px solid rgb(221, 221, 221);
          border-right: 1px solid white;
          color: #000;
          text-shadow: none;
          span {
            position: relative;
            z-index: 1;
            &:before {
              display: block;
              position: absolute;
              content: ' ';
              background: rgb(149, 149, 149);
              width: calc(100% + 10px);
              height: 10px;
              opacity: 0.4;
              left: -5px;
              bottom: -1px;
              z-index: -1;
            }
          }
        }
      }
    }
  }
  .dropdownThirdWrap {
    @include flex(flex-start, '');
    flex-direction: column;
    width: 248px;
    min-width: 160px;
    height: auto;
    min-height: 396px;
    border-right: 1px solid rgb(238, 238, 238);
    background: rgba(255, 255, 255);

    .dropdownThirdUl {
      @include flex(flex-start, center);
      flex-direction: column;
      width: 100%;
      height: 100%;
      font-weight: 500;
      font-size: 14px;

      li {
        width: 100%;
        height: 45px;
        max-height: 45px;
        cursor: pointer;
        padding: 15px 0px 15px 25px;
        font-size: 13px;
        color: rgb(136, 136, 136);
        font-weight: normal;
        &:hover {
          color: #000;
          text-shadow: none;
          span {
            position: relative;
            z-index: 1;
            &:before {
              display: block;
              position: absolute;
              content: ' ';
              background: rgb(149, 149, 149);
              width: calc(100% + 10px);
              height: 10px;
              opacity: 0.4;
              left: -5px;
              bottom: -1px;
              z-index: -1;
            }
          }
        }
      }
    }
  }
}
Link {
  text-decoration: none;
}
