@import '../../../styles/variables.scss';
@import '../../../styles/common.scss';

.dropdown {
  @include flex(flex-start, center);
  border: 1px solid rgb(51, 51, 51);
  box-shadow: #0000001a 0px 4px 12px 0px;
  z-index: 1;
  position: absolute;
  top: 125px;
  // top: 100%;
  // left: 0;

  .dropdownWrap {
    @include flex(flex-start, '');
    flex-direction: row;
    min-width: 128px;
    width: 128px;
    height: auto;
    min-height: 396px;
    background: rgb(89, 80, 72);
    .dropdownUl {
      // border-right: 1px solid rgb(238, 238, 238);
      width: 100%;
      height: 100%;
      font-weight: 500;
      font-size: 16px;

      // .midCatWrap {
      //   position: absolute;
      //   left: 128px;
      //   top: 0px;
      //   min-width: 128px;
      //   width: 128px;
      //   height: 396px;
      //   min-height: 396px;
      //   background-color: white;
      //   color: black;
      // }
      .dropdownLi {
        @include flex(center, center);
        width: 100%;
        height: 56px;
        max-height: 56px;
        padding: 0px 24px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.7);
        background: rgb(89, 80, 72);
        border-bottom: 1px solid rgba(34, 33, 33, 0.25);
      }
      .dropdownLi:hover {
        background: white;
        color: rgb(89, 80, 72);
        font-weight: 500;

        span {
          position: relative;

          &:before {
            display: block;
            position: absolute;
            content: ' ';
            background: rgb(42, 193, 188);
            width: calc(100% + 4px);
            height: 10px;
            opacity: 0.4;
            left: -2px;
            bottom: -1px;
            // z-index: -1;
          }
        }
      }
    }
  }
}
