@import '../../styles/variables.scss';

.mainContainer {
  width: 1080px;
  margin: 0px auto 30px;

  .innerContainer {
    margin-top: 44px;
    margin-bottom: 50px;
  }

  .filterNavBottom {
    @include flex(space-between, center);
    height: 40px;
    padding: 4px 12px;
    background-color: rgb(246, 246, 246, 0.7);
  }

  .check {
    cursor: pointer;
  }

  .filterButtons {
    @include flex(flex-end, center);
    .listFrame {
      display: flex;
      .list {
        padding: 0px 10px;
      }
      .btnFrame {
        outline: none;
        background: none;
        appearance: none;
        border: none;
        cursor: pointer;
      }
    }
  }

  .productList {
    margin-top: 20px;
    width: 100%;
    height: auto;
    @include flex(null, flex-start);
    flex-wrap: wrap;
  }

  .page {
    @include flex(center, center);
    bottom: 0px;
    width: 100%;
    height: 48px;
    background-color: white;
    position: fixed;
    margin: 0 auto;
    left: 0px;
  }

  .pageBtn {
    font-size: 18px;
    width: 40px;
    height: 42px;
    outline: none;
    background: none;
    appearance: none;
    border: none;
    cursor: pointer;
  }

  .pageBtn:hover {
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
  }
}
