@import '../../../../styles/variables.scss';

.navTopWrap {
  @include flex(space-between, center);
  height: 46px;
  position: relative;

  .navUl {
    height: 46px;
    display: flex;
    align-items: center;
    .list {
      color: rgb(187, 187, 187);
      font-size: 12px;
      line-height: 15px;
      font-weight: bold;
      padding-right: 9px;
      &:after {
        content: '';
        top: 4px;
        right: 0px;
        width: 1px;
        height: 12px;
        margin-left: 6px;
        border-right: 1px solid rgb(221, 221, 221);
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
    a {
      text-decoration: none;
    }
  }
}
