@import '../../../../styles/variables.scss';

// .navTop {
//   @include flex(center, center);
//   width: 100vw;
//   position: relative;

.navTopWrap {
  // width: 1080px;
  // min-width: 1000px;
  @include flex(space-between, center);
  height: 46px;
  // width: 100vw;
  position: relative;

  .navUl {
    height: 46px;
    display: flex;
    align-items: center;

    .list {
      color: #c0c0c0;
      font-size: 12px;
      line-height: 18px;
      font-weight: 500;
      padding-right: 9px;

      a,
      a:hover,
      a:focus,
      a:active {
        text-decoration: none;
        color: #c0c0c0;
      }
    }
    .list:last-child {
      padding-right: 0px;
    }
  }
}
// }

// .navHide {
//   display: none;
//   @include flex(center, center);
//   width: 100vw;
//   height: 46px;
//   background-color: white;
// }
