@import '../../styles/variables.scss';

.main-wrap {
    width: 100%;
    .inner-container {
        width: 1080px;
        margin: 0px auto;
        padding: 64px 0px;
        display: flex;
        align-items: flex-start;
    }
    .left-col {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        max-width: 660px;
    }
        .product-img {
            display: flex;
            div {
                width: 80px;
                margin-right: 16px;
            }
            img {
                width: 464px;
                height: 464px;
            }
        }
        .productDetailWrap {
            width: 100%;
            margin-top: 64px;
        }
        .detailNavBar {
            width: 660px;
            height: 54px;
            display: flex;
        }
        .navTab {
            height: 54px;
            flex: 0.5 1 0%;
            @include flex(center, center);
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            border: 1px solid rgb(221, 221, 221);
        }
        .productDetail {
            width: 100%;
            margin-top: 24px;
            padding: 0px 5px;
            img {
                width: 100%;
            }
        }
    .right-col {
        display: flex;
        flex-direction: column;
        width: 368px;
        .product-name {
            margin: 8px 0px 0px;
            font-size: 24px;
            font-weight: bold;
            line-height: 36px;
        }
        .ship-card {
            margin-top: 20px;
            .inner-card {
                display: flex;
                flex-direction: column;
                border: 1px solid rgb(221, 221, 221);
                border-radius: 4px;
                padding: 16px;
                width: 100%;
            }
        }
        .productInfo {
            display: flex;
            flex-direction: column;
            ul {
                display: flex;
                justify-content: space-between;
                font-size: 15px;
                margin: 16px;
                li {
                    &:last-of-type {
                        justify-self: center;
                    }
                }
            }
        }
        .section-bottom {
            margin-top: 24px;
        }
        .quantityUI {
            width: 100%;
            @include flex(space-between, center);
            span {
                font-size: 16px;
                padding-left: 12px;
            }
            .quantityBar {
                width: 112px;
                height: 40px;
                @include flex(null, center);
                border: 1px solid rgb(238, 238, 238);
                border-radius: 4px;
                button {
                    width: 40px;
                    height: 40px;
                    padding: 4px;
                    cursor: pointer;
                    background: none;
                    border: none;
                }
                .handleQuantity {
                    padding-right: 0px;
                }
                input {
                    width: 40px;
                    height: 24px;
                    font-size: 16px;
                    text-align: center;
                    border: none;
                }
            }
        }
        .costInfo {
            margin: 20px 0px;
            @include flex(space-between, center);
            span {
                font-size: 16px;
                font-weight: 700;
                padding-left: 12px;
            }
            .costInfo-right {
                flex-direction: column;
                @include flex(null, flex-end);
                span {
                    font-size: 14px;
                }
            }
        }
    }
}
