@import '../../../../../styles/variables.scss';

.singleReview {
    padding: 24px 4px;
    flex-direction: column;
    @include flex(center, null);
}
.reviewer {
    @include flex(space-between, null);
    .name {
        font-size: 15px;
        font-weight: 500;
    }
    .time {
        font-size: 13px;
        margin-left: 8px;
        color: rgb(187, 187, 187);
    }
}
.reviewContent {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    white-space: pre-wrap;
}