@import '../../../../../../styles/variables.scss';

.dropdownMidWrap {
  @include flex(flex-start, center);
  flex-direction: column;
  min-width: 128px;
  width: 128px;
  height: auto;
  min-height: 396px;
  background-color: rgb(255, 255, 255);

  .dropdownMidUl {
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 16px;
  }
  .dropdownMidLi {
    @include flex(center, center);
    width: 100%;
    height: 56px;
    max-height: 56px;
    padding: 0px 24px;
    cursor: pointer;
    color: rgb(89, 80, 72);
  }
}
