@import '../../styles/variables.scss';
.navMain {
  @include flex(center, center);
  border-bottom: 1px solid rgb(221, 221, 221);
  // position: relative;
  .navInner {
    width: 1080px;
    min-width: 1000px;
  }
}

.navDropdown {
  @include flex(center, center);

  .navDropdownInner {
    width: 1080px;
    min-width: 1000px;
  }
}
